<h1>Search for a Lake</h1>

<form id="searchForm">
    <input type="text" id="lakeSearch"placeholder="enter lake name here">
    <button type="click" id="searchBtn">Find Lake!</button>
</form>

<button id="button">Button</button>