.imgContain {
  border: 1px black;
}

.aBorder {
  text-align: center;
  font-style: oblique;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 3px;
}

.bigDisp {
  font-size: 25px;
}

.smallDisp {
  font-size: 15px;
}

.bigDisp1 {
  font-size: 25px;

  margin-left: auto;
  margin-right: auto;
}

.linkButton {
  height: auto;
  margin-top: 66%;
}
