/* #root {
  background-image: url("https://bloximages.newyork1.vip.townnews.com/gazette.com/content/tncms/assets/v3/editorial/c/92/c9292956-0cc6-11eb-add3-4fa988e66b19/5f84b7e44c60e.image.jpg?resize=1200%2C900");
  width: 100%;
} */

.homeContain {
  border-radius: 10px;
}

body {
  /* background-image: url("https://i.imgur.com/4r2pqi6.jpg"); */
  /* background-size:contain */
  background-repeat: no-repeat;
  width: auto;
  height: 100%;
  /* height: 100%;
  width: auto; */
}

.homeCardContainer {
  text-align: center;
  align-items: center;
  align-self: center;
}
